body {
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#btnCaixa {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#btnCaixa button {
    margin: 0px 10px;

}


.form-control {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

.form-control:focus {
    background-color: #666;
    color: #fff;
    border-color: #007bff;
}

.border-danger {
    border-color: #dc3545 !important;
}

.btn-dark {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-dark:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#caixa h1 {
    color: #fff;
}